{% load static %}
<div class="photo-container">
    {% for photo in photos %}
        <div class="card mb-3 post">
            <div class="card-header">
                <a href="{% url 'gallery:photo_detail' photo.pk %}">
                    <div class="image">
                    <img src="{{ photo.image.url }}" class="card-img-top" alt="...">
                </div>
                </a>
            </div>
            <div class="card-body">
                <h4 class="card-title">{{ photo.title }}</h4>
                <p class="card-text">by <a href="{% url 'accounts:user_detail' photo.author.pk %}"><span class="username-text">{{ photo.author.username }}</span></a></p>
                {% if request.user.is_authenticated %}
                <div>
                    <button class="btn btn-bookmark" data-id="{{ photo.pk }}"
                        style="padding: 0">
                </button>
                </div>
                {% endif %}
                <small class="text-muted">{{ photo.created_at }}</small>

            </div>
        </div>
    {% empty %}
        <p>Photos not found</p>
    {% endfor %}
</div>
{% if is_paginated %}
    {% include 'common/paginator.html' %}
{% endif %}