{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="photo-container">
        <div class="card mb-3 post">
            <div class="card-header">
                <a href="{% url 'gallery:photo_detail' photo.pk %}">
                    <div class="image">
                        <img src="{{ photo.image.url }}" class="card-img-top" alt="...">
                    </div>
                </a>
            </div>
            <div class="card-body">
                <h4 class="card-title">{{ photo.title }}</h4>
                <p class="card-text">by <a href="{% url 'accounts:user_detail' photo.author.pk %}"><span
                        class="username-text">{{ photo.author.username }}</span></a></p>
                {% if request.user.is_authenticated %}
                <div>
                    <button class="btn btn-bookmark" data-id="{{ photo.pk }}"
                        style="padding: 0">
                </button>
                </div>
                {% endif %}
                <small class="text-muted">{{ photo.created_at }}</small>
                <div class="card-footer">
                    {% if perms.gallery.change_photo or request.user == photo.author %}
                        <a href="{% url 'gallery:photo_edit' photo.pk %}" class="btn btn-primary">Edit</a>
                    {% endif %}
                    {% if perms.gallery.delete_photo or request.user == photo.author %}
                        <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">Delete
                        </button>
                        {% include 'partial/photo/delete_photo_modal.html' %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <h3 style="margin-top: 40px">Bookmarked users</h3>
    {% include 'partial/accounts/partial_user_list.html' with user_objects=photo.bookmarked_users.all %}
{% endblock %}